{{ template "shrc/path" }}
{{ template "shrc/alias" }}
{{ template "shrc/android" }}
{{ template "shrc/asdf" }}
{{ template "shrc/completion" }}
{{ template "shrc/drakon" }}
{{ template "shrc/editor" }}
{{ template "shrc/emacs" }}
{{ template "shrc/go" }}
{{ template "shrc/gpg" }}
{{ template "shrc/groovy" }}
{{ template "shrc/grunt" }}
{{ template "shrc/haskell" }}
{{ template "shrc/haxe" }}
{{ template "shrc/hive" }}
{{ template "shrc/java" }}
{{ template "shrc/jenv" }}
{{ template "shrc/jruby" }}
{{ template "shrc/libxml2" }}
{{ template "shrc/manpath" }}
{{ template "shrc/maven" }}
{{ template "shrc/nix" }}
{{ template "shrc/node" }}
{{ template "shrc/pyenv" }}
{{ template "shrc/rbenv" }}
{{ template "shrc/ruby" }}
{{ template "shrc/sdkman" }}
{{ template "shrc/tmux" }}
{{ template "shrc/homebrew" }}
{{ template "shrc/aws" }}

source ~/.local/share/sh/explain.sh
