{
  "apiKey": "{{- range (onepassword "Exercism API Key").fields -}}
      {{- if eq .label "credential" -}}
        {{ .value }}
      {{- end -}}
{{- end -}}",
  "dir": "/Users/akatov/src/exercism",
  "api":"http://exercism.io",
  "xapi":"http://x.exercism.io"
}
