{
  "auth": {
    "floobits.com": {
      "username": "akatov",
      "api_key": "{{ template "chezmoi/secret" "floobits key" }}",
      "secret": "{{ template "chezmoi/secret" "floobits secret" }}"
    }
  }
}
