{{ template "ohmyzsh/variables" }}
{{ template "ohmyzsh/plugins" }}
{{ template "ohmyzsh/source" }}

{{ template "zshrc/setopt" }}
{{ template "zshrc/private" }}
source ~/.local/share/zsh/completion.zsh
source ~/.shrc
{{ template "zshrc/dedup-path" }}
{{ template "zshrc/zaw" }}
{{ template "zshrc/direnv" }}
