{
  "auth": {
    "floobits.com": {
      "username": "akatov",
      "api_key": "{{- range (onepassword "Floobits API Key").fields -}}
      {{- if eq .label "credential" -}}
        {{ .value }}
      {{- end -}}
{{- end -}}",
      "secret": "{{- range (onepassword "Floobits API Key").fields -}}
      {{- if eq .label "secret" -}}
        {{ .value }}
      {{- end -}}
{{- end -}}"
    }
  }
}
