{{ template "zpreztorc/general" }} 
{{ template "zpreztorc/editor" }}
{{ template "zpreztorc/git" }}
{{ template "zpreztorc/gnu-utility" }}
{{ template "zpreztorc/history-substring-search" }}
{{ template "zpreztorc/prompt" }}
{{ template "zpreztorc/ssh" }}
{{ template "zpreztorc/syntax-highlighting" }}
{{ template "zpreztorc/terminal" }}
{{ template "zpreztorc/tmux" }}
