source ~/.zprezto/runcoms/zshrc
{{ template "zshrc/setopt" }}
{{ template "zshrc/private" }}
source ~/.local/share/zsh/completion.zsh
source ~/.fresh/build/shell.sh
source ~/.fresh/build/shell2.sh
{{ template "zshrc/dedup-path" }}
{{ template "zshrc/zaw" }}
{{ template "zshrc/direnv" }}
