{{- if (and false (eq .chezmoi.os "darwin")) -}}
#!/bin/bash

# set -eufo pipefail
set           \
  -o errexit  \
  -o nounset  \
  -o noglob   \
  -o pipefail

emacs_configs_dir=~/.local/share/emacs

mkdir --parents $emacs_configs_dir

pushd $emacs_configs_dir

# my own config
git clone git@github.com:akatov/akamacs.git

# popular configs
git clone git@github.com:syl20bnr/spacemacs.git
git clone git@github.com:hlissner/doom-emacs.git
git clone git@github.com:overtone/emacs-live.git

# other personal configs

## good example of quelpa and config with use-package
git clone git@framagit.org:steckerhalter/steckemacs.el.git

## Haskell, Ligatures
git clone git@github.com:bodil/ohai-emacs.git

## org-mode config file
git clone git@github.com:danielmai/.emacs.d.git danielmai
git clone git@github.com:philandstuff/dot-emacs.git philandstuff
git clone git@github.com:seth/my-emacs-dot-d.git seth

## Haskell, Coq, Nix
git clone git@github.com:jwiegley/dot-emacs.git jwiegley

## Cask
git clone git@github.com:rejeep/emacs.git rejeep

popd

{{- end }}
