{{- if (and true (eq .chezmoi.os "darwin")) -}}
#!/bin/bash

# set -eufo pipefail
set           \
  -o errexit  \
  -o nounset  \
  -o noglob   \
  -o pipefail

emacs_configs_dir=~/.local/share/emacs

mkdir --parents $emacs_configs_dir

pushd ~

if [ -e ~/.akamacs ] ; then
  echo "~/.akamacs already exists. Update it manually..."
else
  git clone git@github.com:akatov/akamacs.git .akamacs
fi

popd

if [ -e ~/.emacs.d ] && [ ! -L ~/.emacs.d ]; then
  echo "~/.emacs.d is not a symbolic link. Not touching it..."
else
  rm -rf ~/.emacs.d
  ln -sf ~/.akamacs ~/.emacs.d
fi

{{- end }}
