{{ template "zshrc/ohmyzsh/p10k/begin" }}

{{ template "zshrc/ohmyzsh/variables" }}
{{ template "zshrc/ohmyzsh/plugins" }}
{{ template "zshrc/ohmyzsh/source" }}

{{ template "zshrc/setopt" }}
{{ template "zshrc/private" }}
source ~/{{ template "zshrc/_data" "COMPLETION.ZSH" }}
source ~/.shrc
{{ template "zshrc/dedup-path" }}
{{ template "zshrc/zaw" }}
{{ template "zshrc/direnv" }}

{{ template "zshrc/ohmyzsh/p10k/end" }}
