{{- if .personal -}}
{
  "auth": {
    "floobits.com": {
      "username": "akatov",
      "api_key": "{{ template "chezmoi/secret" (set . "secret" "floobits key") }}",
      "secret": "{{ template "chezmoi/secret" (set . "secret" "floobits secret") }}"
    }
  }
}
{{ end }}