#!/bin/bash

# set -eufo pipefail
set           \
  -o errexit  \
  -o nounset  \
  -o noglob   \
  -o pipefail

{{ if (and (eq .chezmoi.os "darwin") .personal) -}}

brew bundle --file=/dev/stdin <<EOF
cask "1password-cli"
EOF

while ! op whoami &>/dev/null ; do
  echo ""
  echo "Please login to your 1Password Account:"
  echo "\`op account add --address \$SUBDOMAIN.1password.com --email \$EMAIL\`"
  echo "then press ENTER to continue..."
  read -r
  eval $(op signin)
done

{{- end }}
