{{- $gh  := "https://github.com/"    -}}
{{- $amt := "/archive/master.tar.gz" -}}

["{{ template "zshrc/ohmyzsh/_data" "ZSH"}}"]
  type = "archive"
  url = "{{ $gh }}ohmyzsh/ohmyzsh{{ $amt }}"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"

["{{ template "zshrc/ohmyzsh/_data" "ZSH_CUSTOM" }}/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "{{ $gh }}zsh-users/zsh-syntax-highlighting{{ $amt }}"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

["{{ template "zshrc/ohmyzsh/_data" "ZSH_CUSTOM" }}/themes/powerlevel10k"]
    type = "archive"
    url = "{{ $gh }}romkatv/powerlevel10k/archive/v1.16.1.tar.gz"
    exact = true
    stripComponents = 1
