{{- $gist := "https://gist.github.com/" -}}
{{- $amt  := "/archive/master.tar.gz"   -}}

[".local/share/sh"]
  type = "archive"
  url = "{{ $gist }}jacksonp/9c2f547434b7d78d1b62/{{ $amt }}"
  stripComponents = 1
