{{- $gh  := "https://github.com/"    -}}
{{- $amt := "/archive/master.tar.gz" -}}

["{{ template "zshrc/_data" "ZAW" }}"]
  type = "archive"
  url = "{{ $gh }}zsh-users/zaw{{ $amt }}"
  exact = true
  stripComponents = 1

["{{ template "zshrc/_data" "COMPLETION.ZSH" }}"]
  type = "file"
  url = "https://raw.githubusercontent.com/twe4ked/dotfiles/master/shell/zsh/completion.zsh"
