{{- $gh  := "https://github.com/"    -}}
{{- $amt := "/archive/master.tar.gz" -}}

[".zaw"]
  type = "archive"
  url = "{{ $gh }}zsh-users/zaw{{ $amt }}"
  exact = true
  stripComponents = 1

[".local/share/zsh/completion.zsh"]
  type = "file"
  url = "https://raw.githubusercontent.com/twe4ked/dotfiles/master/shell/zsh/completion.zsh"
