# this will be used to migrate away from fresh

{{ template "shell_path" }}
{{ template "shell_alias" }}
{{ template "shell_android" }}
{{ template "shell_asdf" }}
{{ template "shell_completion" }}
{{ template "shell_drakon" }}
{{ template "shell_editor" }}
{{ template "shell_emacs" }}
{{ template "shell_go" }}
{{ template "shell_gpg" }}
{{ template "shell_groovy" }}
{{ template "shell_grunt" }}
{{ template "shell_haskell" }}
{{ template "shell_haxe" }}
{{ template "shell_hive" }}
{{ template "shell_java" }}
{{ template "shell_jenv" }}
{{ template "shell_jruby" }}
{{ template "shell_libxml2" }}
{{ template "shell_manpath" }}
{{ template "shell_maven" }}
{{ template "shell_nix" }}
{{ template "shell_node" }}
{{ template "shell_pyenv" }}
{{ template "shell_rbenv" }}
{{ template "shell_ruby" }}
{{ template "shell_sdkman" }}
{{ template "shell_tmux" }}

{{ template "homebrew" }}
{{ template "aws" }}

source ~/.fresh/build/shell2/explain.sh
