[core]
  excludesfile = ~/.config/git/ignore

[user]
  name  = Dmitri Akatov
  email = dmitri@akatov.com

[init]
  defaultBranch = main

[push]
  default = simple

{{ template "git/alias" . }}
{{ template "git/credential" . }}
{{ template "git/tokens" . }}
